In [1]:
import pandas as pd
import re

In [2]:

df = pd.read_csv(r'D:\HP\Downloads\job\job_descriptions.csv')

In [3]:
df_task6 = df[
    (df['Work Type'] == 'Intern') & 
    (df['latitude'] < 10) & 
    (df['Company Size'] < 50000)
].copy()

In [4]:
df_task6 = df_task6[~df_task6['Country'].str.startswith(('A', 'B', 'C', 'D'), na=False)]

In [5]:
df_task6 = df_task6[
    (df_task6['Job Title'].str.len() < 10) & 
    (df_task6['Job Title'].str.match(r'^\S+$'))
]

In [6]:
df_task6['Exp_Num'] = df_task6['Experience'].str.extract(r'(\d+)').astype(float)
df_task6['Sal_Min'] = df_task6['Salary Range'].str.extract(r'\$(\d+)').astype(float) * 1000

In [7]:
df_task6 = df_task6[
    (df_task6['Exp_Num'] % 2 == 0) & 
    (df_task6['Sal_Min'] > 8000)
]

In [8]:
df_task6['Job Posting Date'] = pd.to_datetime(df_task6['Job Posting Date'])
df_task6 = df_task6[df_task6['Job Posting Date'].dt.year.isin([2021, 2022, 2023])]

In [9]:
df_task6 = df_task6[df_task6['Contact Person'].str.contains('e', case=False, na=False)]

In [10]:
df_task6.to_csv('task6_boxplot_data.csv', index=False)
print(f"Task 6 Cleaned: {len(df_task6)} rows found.")

Task 6 Cleaned: 248 rows found.