In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'D:\HP\Downloads\job\job_descriptions.csv')

In [3]:
df_task4 = df[
    (df['Qualifications'].isin(['B.Tech', 'M.Tech', 'PhD'])) &
    (df['Work Type'] == 'Full-Time') &
    (df['Preference'] == 'Male') &
    (df['Job Portal'] == 'Indeed')
].copy()

In [4]:
df_task4 = df_task4[
    (df_task4['Job Title'].str.startswith('D', na=False)) &
    (df_task4['Contact Person'].str.startswith('A', na=False))
]

In [5]:
africa_countries = [
    'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 
    'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo', 'Djibouti', 
    'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 
    'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 
    'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 
    'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 
    'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 
    'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'
]

In [6]:
df_task4 = df_task4[df_task4['Country'].isin(africa_countries)]

In [7]:
df_task4['Sal_Min'] = df_task4['Salary Range'].str.extract(r'\$(\d+)').astype(float) * 1000
df_task4 = df_task4[
    (df_task4['Company Size'] > 80000) & 
    (df_task4['Sal_Min'] > 20000)
]

In [8]:
df_task4.to_csv('task4_cleaned.csv', index=False)
print(f"Task 4 Filtered: {len(df_task4)} rows found.")

Task 4 Filtered: 0 rows found.