In [2]:
import pandas as pd

In [3]:
# 1. Load Data
df = pd.read_csv(r'D:\HP\Downloads\job\job_descriptions.csv')

# 2. Geography: India and Germany Only

In [8]:
df_task5 = df[df['Country'].isin(['India', 'Germany'])].copy()

In [9]:
# 3. Categorical Filters
# Qualification: B.Tech | Work Type: Full-Time | Job Portal: Indeed | Preference: Female
# Job Title: Data Scientist, Art Teacher, or Aerospace Engineer
titles = ['Data Scientist', 'Art Teacher', 'Aerospace Engineer']
df_task5 = df_task5[
    (df_task5['Qualifications'] == 'B.Tech') &
    (df_task5['Work Type'] == 'Full-Time') &
    (df_task5['Job Portal'] == 'Indeed') &
    (df_task5['Preference'] == 'Female') &
    (df_task5['Job Title'].isin(titles))
]

#

In [10]:
df_task5

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
756625,2937945256675327,3 to 9 Years,B.Tech,$62K-$112K,Berlin,Germany,51.1657,10.4515,Full-Time,66257,...,(456)766-9543x902,Art Teacher,Studio Art Teacher,Indeed,A Studio Art Teacher instructs students in stu...,"{'Life and Disability Insurance, Stock Options...",Art instruction Classroom management Art techn...,Focus on specific art mediums or techniques in...,Delta Air Lines,"{""Sector"":""Airlines"",""Industry"":""Airlines"",""Ci..."
889251,2386559620651271,2 to 8 Years,B.Tech,$58K-$110K,Berlin,Germany,51.1657,10.4515,Full-Time,98560,...,001-556-953-6592x1946,Aerospace Engineer,Avionics Engineer,Indeed,Avionics Engineers focus on aircraft electroni...,"{'Employee Assistance Programs (EAP), Tuition ...",Avionics systems Electronic warfare systems Ra...,"Specialize in avionics systems, including navi...",Fifth Third Bancorp,"{""Sector"":""Banking"",""Industry"":""Commercial Ban..."

In [12]:

# Experience > 2 Years | Salary > 10,000 | Date before 08/01/2023
df_task5['Exp_Num'] = df_task5['Experience'].str.extract(r'(\d+)').astype(float)
df_task5['Sal_Min'] = df_task5['Salary Range'].str.extract(r'\$(\d+)').astype(float) * 1000
df_task5['Job Posting Date'] = pd.to_datetime(df_task5['Job Posting Date'])

df_task5 = df_task5[
    (df_task5['Exp_Num'] >= 2) &
    (df_task5['Sal_Min'] > 10000) &
    (df_task5['Job Posting Date'] < '2023-01-08')
]

In [13]:
df_task5

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile,Exp_Num,Sal_Min
756625,2937945256675327,3 to 9 Years,B.Tech,$62K-$112K,Berlin,Germany,51.1657,10.4515,Full-Time,66257,...,Studio Art Teacher,Indeed,A Studio Art Teacher instructs students in stu...,"{'Life and Disability Insurance, Stock Options...",Art instruction Classroom management Art techn...,Focus on specific art mediums or techniques in...,Delta Air Lines,"{""Sector"":""Airlines"",""Industry"":""Airlines"",""Ci...",3.0,62000.0
889251,2386559620651271,2 to 8 Years,B.Tech,$58K-$110K,Berlin,Germany,51.1657,10.4515,Full-Time,98560,...,Avionics Engineer,Indeed,Avionics Engineers focus on aircraft electroni...,"{'Employee Assistance Programs (EAP), Tuition ...",Avionics systems Electronic warfare systems Ra...,"Specialize in avionics systems, including navi...",Fifth Third Bancorp,"{""Sector"":""Banking"",""Industry"":""Commercial Ban...",2.0,58000.0

In [14]:
# 5. Additional Rules: Location not blank & Company Name > 8 characters
df_task5 = df_task5[
    (df_task5['location'].notna()) & 
    (df_task5['location'] != '') &
    (df_task5['Company'].str.len() > 8)
]

In [15]:
df_task5

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile,Exp_Num,Sal_Min
756625,2937945256675327,3 to 9 Years,B.Tech,$62K-$112K,Berlin,Germany,51.1657,10.4515,Full-Time,66257,...,Studio Art Teacher,Indeed,A Studio Art Teacher instructs students in stu...,"{'Life and Disability Insurance, Stock Options...",Art instruction Classroom management Art techn...,Focus on specific art mediums or techniques in...,Delta Air Lines,"{""Sector"":""Airlines"",""Industry"":""Airlines"",""Ci...",3.0,62000.0
889251,2386559620651271,2 to 8 Years,B.Tech,$58K-$110K,Berlin,Germany,51.1657,10.4515,Full-Time,98560,...,Avionics Engineer,Indeed,Avionics Engineers focus on aircraft electroni...,"{'Employee Assistance Programs (EAP), Tuition ...",Avionics systems Electronic warfare systems Ra...,"Specialize in avionics systems, including navi...",Fifth Third Bancorp,"{""Sector"":""Banking"",""Industry"":""Commercial Ban...",2.0,58000.0

In [16]:
# 6. Export for Tableau
df_task5.to_csv('task5_sorted.csv', index=False)
print(f"Task 5 Filtered: {len(df_task5)} rows found.")

Task 5 Filtered: 2 rows found.